" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc

"Use line cursor in all modes
let mapleader = ","
"Use system clipboard
set clipboard=unnamed
"ship movement keys by one to the right
"left
noremap j h
"up
noremap k j
"down
noremap l k
"right
noremap ; l
"remap move to end of word
noremap ' ;

sethandler <C-S-O>  a:ide

set timeoutlen=500

" --- THE MAPPING ---
" Map 'j' in INSERT MODE to run our new, reliable function
inoremap jj <ESC>
" --- MAPPINGS FOR OTHER MODES ---
" These are still needed and will use the global 'timeoutlen'
vnoremap jk <Esc>
cnoremap jj <C-c>
noremap Y y$
" In insert or command mode, move normally by using Ctrl

inoremap <C-j> <Left>
inoremap <C-k> <Down>
inoremap <C-l> <Up>
inoremap <C-;> <Right>
cnoremap <C-j> <Left>
cnoremap <C-k> <Down>
cnoremap <C-l> <Up>
cnoremap <C-;> <Right>

"pane navigation
nnoremap <A-j> <C-w>h
nnoremap <A-k> <C-w>j
nnoremap <A-l> <C-w>k
nnoremap <A-;> <C-w>l
"move between methods

map [[ <Action>(MethodUp)
map ]] <Action>(MethodDown)

vmap < <gv
vmap > >gv

nmap <leader>b <Action>(GotoDeclaration)
nmap <leader>o <Action>(OptimizeImports)

"Select next Occurrence multiple cursors
sethandler <A-j> a:ide

sethandler <C-j> n-v-x:ide i:vim
sethandler <C-k> n-v-x:ide i:vim
sethandler <C-l> n-v-x:ide i:vim
sethandler <C-;> n-v-x:ide i:vim


" --- Step 1: Prevent Ctrl+E and Ctrl+Y from inserting characters in Insert mode ---
" And ensure they always pass to the IDE for their IntelliJ actions.
sethandler <C-e> n-v-x:ide
sethandler <C-y> n-v-x:ide

set relativenumber
"Ide action set to vim

map <leader>n <Action>(GotoFile)
vmap <leader>j <Action>(SurroundWithLiveTemplate)


"Search improvements
set ignorecase
set smartcase
set incsearch
set hlsearch

" show a few lines of context around the cursor. note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=10

" do incremental searching.
set NERDTree
"set sneak

set which-key
set showcmd
set surround

" don't use ex mode, use q for formatting.
map q gg

" --- enable ideavim plugins https://jb.gg/ideavim-plugins

" highlight copied text
plug 'machakann/vim-highlightedyank'
" commentary plugin
"plug 'tpope/vim-commentary'


"" -- map ide actions to ideavim -- https://jb.gg/abva4t
"map \r to the reformat code action
map \r <action>(reformatcode)

"" map <leader>d to start debug
map <leader>d <action>(debug)

"" map \b to toggle the breakpoint on the current line
map \b <Action>(ToggleLineBreakpoint)