" .ideavimrc is a configuration file for IdeaVim plugin. It uses
" the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc


"----------------------------- general Settings--------------------------------
set scrolloff=10
set linenumber
set showmode
set showcmd
set visualbell
set clipboard^=unnamedplus
set relativenumber
set scrolloff=10

"------------------------------ Navigation Keys -------------------------------
"for insert mode and
cnoremap <C-h> <Left>
cnoremap <C-j> <Down>
cnoremap <C-k> <Up>
cnoremap <C-l> <Right>
"pane navigation
nnoremap <A-h> <C-w>h
nnoremap <A-j> <C-w>j
nnoremap <A-k> <C-w>k
nnoremap <A-l> <C-w>l

inoremap <C-k> <Up>
inoremap <C-j> <Down>
inoremap <C-h> <Left>
inoremap <C-l> <Right>

"set Leader to ,
let mapleader = " "
"Allow ide have reload file: 
sethandler <C-S-O>  a:ide
"shorten timoutlen
set timeoutlen=500

"jump up a page and recenter the cursor
noremap <C-d> <C-d>zz
noremap <C-u> <C-u>zz
"-------------------------------- Plugins -------------------------------------
" highlight copied text
plug 'machakann/vim-highlightedyank'
"commentary plugin
"plug 'tpope/vim-commentary'
set which-key
set showcmd
set surround
set NERDTree

"---------------------------- NERDTree Mappings -------------------------------
"---------------------------- switching modes ---------------------------------
set timeoutlen=500
vnoremap jk <Esc>
cnoremap jk <C-c>
inoremap jk <ESC>

"----------------------------- miscellaneous ----------------------------------
"indent numbers
vmap < <gv
vmap > >gv
" don't use ex mode, use q for formatting.
map q gg
"Yank from current cursor position to end of line
noremap Y y$
"add newlines without entering insert mode
nmap <leader>o o<ESC>
nnoremap <leader>O O<ESC>
"-------------------------- Search Improvements -------------------------------
set ignorecase
set smartcase
set incsearch
set hlsearch
nnoremap <leader>n :set hlsearch!<CR>

"pasting
xnoremap <leader>p \"_dP
"------------------------------- SetHandler remaps ----------------------------
sethandler <C-u> v-x-i:vim n-c:ide
"" And ensure they always pass to the IDE for their IntelliJ actions.
sethandler <C-e> n-v-x:ide
sethandler <C-y> n-v-x:ide
sethandler <C-S-n> a:ide
sethandler <C-/> v:ide n-i:vim
sethandler <C-S-/> v-x:ide n-i:vim
"--------------------------------- IDE Actions --------------------------------

"go to usages and declarations
nmap <leader>b <Action>(GotoDeclaration)
"optimize imports
nmap <leader>i <Action>(OptimizeImports)
"" -- map ide actions to ideavim -- https://jb.gg/abva4t
"map \r to the reformat code action
nmap <Leader>l <Action>(ReformatCode)
"" map <leader>d to start debug
map <leader>d <action>(debug)
"" map \b to toggle the breakpoint on the current line
map \b <Action>(ToggleLineBreakpoint)
"moving between methods

map [[ <Action>(MethodUp)
map ]] <Action>(MethodDown)
"search file
"refactoring
map <leader>rr <Action>(Refactorings.QuickListPopupAction)

"surround with template
vmap <leader>j <Action>(SurroundWithLiveTemplate)

map <leader>R <Action>(editRunConfigurations)
map <leader>t <Action>(SurroundWith)
vmap <leader>t <Action>(SurroundWith)
