" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc


"----------general Settings--------------
set scrolloff=10
set linenumber
set showmode
set showcmd
set visualbell
set clipboard+=unnamed
set relativenumber
set scrolloff=10

"-----------Navigation Keys--------------
"left
noremap j h
"up
noremap k j
"down
noremap l k
"right
noremap ; l
"remap move to end of word
noremap ' ;
"for insert mode and 
inoremap <C-j> <Left>
inoremap <C-k> <Down>
inoremap <C-l> <Up>
inoremap <C-;> <Right>
cnoremap <C-j> <Left>
cnoremap <C-k> <Down>
cnoremap <C-l> <Up>
cnoremap <C-;> <Right>
"pane navigation
nnoremap <A-j> <C-w>h
nnoremap <A-k> <C-w>j
nnoremap <A-l> <C-w>k
nnoremap <A-;> <C-w>l

"moving between methods
map [[ <Action>(MethodUp)
map ]] <Action>(MethodDown)


"set Leader to ,
let mapleader = ","
"Allow ide have reload file: 
sethandler <C-S-O>  a:ide
"shorten timoutlen
set timeoutlen=500

"-----------switching modes--------------
set timeoutlen=500
vnoremap jk <Esc>
cnoremap jj <C-c>

"---------------miscellaneous-----------------
"indent numbers
vmap < <gv
vmap > >gv

"go to usages and declarations
nmap <leader>b <Action>(GotoDeclaration)

"optimize imports
nmap <leader>o <Action>(OptimizeImports)


"Handoff to ide in insert mode
sethandler <C-j> n-v-x:ide i:vim
sethandler <C-k> n-v-x:ide i:vim
sethandler <C-l> n-v-x:ide i:vim
sethandler <C-;> n-v-x:ide i:vim

"" And ensure they always pass to the IDE for their IntelliJ actions.
sethandler <C-e> n-v-x:ide
sethandler <C-y> n-v-x:ide

" don't use ex mode, use q for formatting.
map q gg

sethandler <C-u> v-x-i:vim n-c:ide

noremap Y y$
"-----------------Search Improvements----------------------- 
set ignorecase
set smartcase
set incsearch
set hlsearch
nnoremap <leader>n :set hlsearch!<CR>


"-----------------------Plugins-----------------------------
" highlight copied text
plug 'machakann/vim-highlightedyank'
"commentary plugin
"plug 'tpope/vim-commentary'
set which-key
set showcmd
set surround
set NERDTree


"-------------------Misc Leader's Remaps--------------------

"" -- map ide actions to ideavim -- https://jb.gg/abva4t
"map \r to the reformat code action
map \r <action>(reformatcode)

"" map <leader>d to start debug
map <leader>d <action>(debug)

"" map \b to toggle the breakpoint on the current line
map \b <Action>(ToggleLineBreakpoint)


